body{
    background-image: url(./images/dairyfarm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    padding-bottom: 150px;
}
.sidebar{
    text-align: center;
    font-size: 28px;
}
button{
    background-color: rgb(255, 136, 0);
    font-size: 40px;
    border-radius: 10px;
}
.sidebar .production{
    padding-bottom: 50px;
}
.display{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}
.display, .form{
    text-align: center;
    padding-top: 150px;
}
.reporting {
    font-size: 30px;
    text-align: center;

}