/*front*/
body{
    background-image: url(./images/dairyfarm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    padding-bottom: 50px;
}
.sidebar{
    text-align: center;
    font-size: 28px;
}
.farm {
    text-align: center;
    box-sizing: border-box;
    box-shadow: 20px;
    background-color: orange;
    border-radius: 30px;
    max-width: 1300px;
    margin-left: 250px;
}
.farm p{
    font-size: 24px;
    font-weight: 600;
}
button{
    background-color: rgb(255, 136, 0);
    font-size: 40px;
    border-radius: 10px;
}
.sidebar .production{
    padding-bottom: 50px;
}

/*form*/
.display{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}
.display, .form{
    text-align: center;
    padding-top: 150px;
}

/*report*/
.reporting {
    font-size: 30px;
    text-align: center;

}